
@{
    ViewData["Title"] = "StudentList";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Student List Login</h1>

<div>
    @for(int i = 1; i <= 10; i++){
        <a asp-controller="Student" asp-action="StudentList" asp-route-id=@i>@i</a>
    }
</div>


