
@{
    Layout = "_MainLayout";
    ViewBag.Title = "Home";
    ViewBag.PageHeader = "CIS 174 Advanced C#";
}

<main>
    <br>
    <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Mode</a>
</main>
